*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
     max-width: 1200px;
    margin: auto;
    
}
.my-amazing-parent{
            text-align: center;
            
        }
        
        .gallery{
          margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 
            "one two three"
            "one tow three"
            ;

        }
        /* .gallery>div{
            width: 100%;
            height: 100%;
            overflow: hidden;
            gap: 16px;
            grid-template-rows: 250px;
        } */
        .gallery img{
        width: 100%;
            /* height: 100%;
      grid-auto-rows: 150px; */
       object-fit: cover;
        }
        
        /* footer start */
        footer{
       text-align: center;
       margin-top: 70px !important;
       display: flex;
       justify-content: space-between;
       gap: 15px;
       background-color: rgb(250, 212, 74);
       padding: 20px;
       border-radius: 20px;
        }
        .footer-left p{
         margin: 10px opx;
        }
        footer form input{
            border: none;
            background-color: white;
            padding: 9px 15px;
            border-radius: 7px;
            display: block;
            margin-bottom: 8px;
        }
        .footer-icon-parent span{
            color: rgb(229, 98, 22);
            font-size: 35px;
        }